@page
@model SegEducativo.App.Presentacion.Pages.Estudiantes.IndexModel
@{
}

<h1> Esta es una lista de Estudiantes</h1>
<a class="btn btn-primary"asp-page="./Crearestu">Nuevo Estudiante</a>
<br>

<table class="table">
    <thead>
        <tr>
            <th Scope="col"> Nombre</th>
            <th Scope="col"> Apellidos</th>
            <th Scope="col">Direccion</th>
            <th Scope="col"> Ciudad</th>
            <th Scope="col"> Correo</th>
            <th Scope="col"> Celular</th>
            <th Scope="col"> Genero</th>
            <th Scope="col"> Fecha de nacimiento</th>
        </tr>
        </thead>
        @foreach(var i in Model.estudiantes)
        {
            <tr>
                <td> @i.Nombre</td>
                <td> @i.Apellidos</td>
                <td> @i.Direccion</td>
                <td> @i.Ciudad</td>
                <td> @i.Correo</td>
                <td> @i.Celular</td>
                <td> @i.Genero</td>
                <td> @i.FechaNacimiento</td>
                

            </tr>
        }
    
</table>
